<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>person</title>
</head>
<body>
<p th:text="${person.getFull_name() + ', ' + person.getYear_of_birth()}">VALUE</p>
<span th:text="'Человек пока не взял ни одной книги'" th:if="${myBooks.isEmpty()}"></span>
<h3 th:text="'Книги:'" th:if="${myBooks.size() > 0}"></h3>
<div th:each="myBook : ${myBooks}" th:if="${myBooks}">
        <p th:text="${myBook.getTitle() + ', ' + myBook.getAuthor() + ', ' + myBook.getYear_of_publishing()}"></p>
</div>
<hr/>
<form th:method="GET" th:action="@{/people/{id}/edit (id=${person.getPerson_id()})}">
    <input type="submit" value="Редактировать!"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id} (id=${person.getPerson_id()})}">
    <input type="submit" value="Удалить!"/>
</form>
</body>
</html>