<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update book</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/books/{id} (id=${book.getBook_id()})}" th:object="${book}">
    <label for="title">Введите название книги: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</div>
    <br/>
    <label for="author">Введите автора: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
    <br/>
    <label for="year_of_publishing">Введите год публикации: </label>
    <input type="text" th:field="*{year_of_publishing}" id="year_of_publishing"/>
    <div style="color:red" th:if="${#fields.hasErrors('year_of_publishing')}" th:errors="*{year_of_publishing}">Year of publishing error</div>
    <br/>
    <input type="submit" value="Редактировать!"/>
</form>
</body>
</html>